{% extends 'base/index.html' %}
{% load static %}

{% block body %}
{% if user.username == "administrador" or user.username == "desenvolvedor" %}
  <div class="content-wrapper">


    <div class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1 class="m-0"></h1>
            </div>
        </div>
        </div>
    </div>

  <div class="content">
    <div class="card card-dark">
        <div class="card-header">
          <h3 class="card-title">Criação de voo</h3>
        </div>
        <form method="POST" action="{% url 'criar_voo_partida' %}" >
          {% csrf_token %}
          <div class="card-body">
            <div class="form-group">
              <label for="code">Código de voo</label>
              <input name="code"type="text" class="form-control" id="code" placeholder="AAA111" maxlength="6">
            </div>
            <div class="form-group">
              <label for="companhia">Companhia Aerea</label>
              <input name="companhia" type="text" class="form-control" id="companhia" placeholder="Companhia"required>
            </div>
            <div class="form-group">
              <label for="local">Local de origem e destino</label>
              <input name="local" type="text" class="form-control" id="local" placeholder="chegada/Partida" required>
            </div>
            <div class="form-group">
              <label for="horario_previsto">Horário de saída previsto</label>
              <input name="horario_previsto" type="time" class="form-control" id="horario_previsto">
            </div>
            <div class="form-group">
              <label for="data">Data de partida</label>
              <input name="data" type="date" class="form-control" id="data">
            </div>
          </div>
          
          <div class="card-footer">
            <button type="submit" class="btn btn-dark">Criar voo</button>
            {% if obj %}
            <p style="color:green">Voo criado com sucesso</p>
            {% endif %} 
            {% if error %}
            <p style="color:red">Erro. Verifique a formatação dos dados. {{error}}</p>
            {% endif %} 
          </div>
        </form>
      </div>
  </div>
</div>
{% else %}
  {% include 'base/error.html' %}
{% endif %}
{% endblock body %}