{% extends 'base/index.html' %}
{% load static %}

{% block body %}
{% if user.username == "administrador" or user.username == "desenvolvedor" %}
  <div class="content-wrapper">


    <div class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1 class="m-0"></h1>
            </div>
        </div>
        </div>
    </div>

  <div class="content">
    <div class="card card-dark">
      <div class="card-header">
        <h3 class="card-title">Deleção de voo</h3>
      </div>
 
      <form action="{% url 'deletar' %}" method="POST" id="del_form">
        {% csrf_token %}
        <div class="card-body">
          <div class="form-group">
            <label for="code">Código de voo</label>
            <input type="text" name="code" class="form-control" id="code" placeholder="AAA111" required>
          </div>
        </div>

        <div class="card-footer">
          <button type="submit" form="del_form" class="btn btn-dark">Deletar</button>
        </div>
      </form>
    </div>
  </div>

</div>
{% else %}
  {% include 'base/error.html' %}
{% endif %}
{% endblock body %}