{% extends 'base/index.html' %}
{% load static %}

{% block body %}
{% if user.username == "administrador" or user.username == "desenvolvedor" %}
  <div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1 class="m-0"></h1>
            </div>
        </div>
        </div>
    </div>

   <div class="content">
    <div class="card card-dark">
        <div class="card-header">
          <h3 class="card-title">Edição de voo</h3>
        </div>
        <form method="POST" action="{% url 'editar' %}" >
          {% csrf_token %}
          <div class="card-body">
            <h5>Preencha os campos que deseja alterar. Deixe vazio os campos que não deseja alterar.</h5>

            <div class="form-group">
              <label for="code">Código de voo</label>
              <input name="code"type="text" class="form-control" id="code" required>
            </div>
            <div class="form-group">
              <label for="companhia">Companhia Aerea</label>
              <input name="companhia" type="text" class="form-control" id="companhia">
            </div>
            <div class="form-group">
              <label for="local">Local</label>
              <input name="local" type="text" class="form-control" id="local">
            </div>
            <div class="form-group">
              <label for="horario_previsto">Horário de saída previsto </label>
              <input name="horario_previsto" type="time" class="form-control" id="horario_previsto">
            </div>
            <div class="form-group">
              <label for="data">Horário de chegada previsto</label>
              <input name="data" type="time" class="form-control" id="data">
            </div>
            <div class="form-group">
              <label for="data">Data de saída</label>
              <input name="data" type="date" class="form-control" id="data">
            </div>
            <div class="form-group">
              <label for="data">Data de chegada</label>
              <input name="data" type="date" class="form-control" id="data">
            </div>
          </div>
          
          <div class="card-footer">
            <button type="submit" class="btn btn-dark">Editar voo</button>
            {% if obj %}
            <p style="color:green">Voo editado com sucesso</p>
            {% endif %} 
            {% if error %}
            <p style="color:red">Erro. Verifique a formatação dos dados. {{error}}</p>
            {% endif %} 
          </div>
        </form>
        
      </div>
  </div>
</div>
{% else %}
  {% include 'base/error.html' %}
{% endif %}
{% endblock body %}