{% extends 'base/index.html' %}
{% load static %}

{% block body %}
  <div class="content-wrapper">
    <div class="container">
      <section>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <img src="{% static 'dist/img/logo_verde.png' %}" alt="Imagem" 
             style="display: block; margin-left: auto; margin-right: auto"
             width="220" 
             height="174">
      </section>
    </div>
  </div>
{% endblock body %}
  

