{% extends 'base/index.html' %}
{% load static %}

{% block body %}
{% if user.username == "administrador" or user.username == "desenvolvedor" %}
  <div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1 class="m-0">Leitura de voo</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
  <div class="content">
 <!-- general form elements -->
 <div class="card card-dark">
  <div class="card-header">
    <h3 class="card-title">Leitura de voo</h3>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  <form method="POST" action="{% url 'ler_voo' %}" >
    {% csrf_token %}
    <div class="card-body">
      <div class="form-group">
        <label for="codigo">Código de voo</label>
        <input name="codigo"type="text" class="form-control" id="codigo" placeholder="AAA111">
      </div>
    </div>
    <!-- /.card-body -->
    
    <div class="card-footer">
      <button type="submit" class="btn btn-dark">Ler voo</button>
      {% if voo %}
      <br>
      <br>
      <p><strong>Código:</strong> {{ voo.codigo }}</p> <!-- author detail link not yet defined -->
      <p><strong>Companhia:</strong> {{ voo.companhia.nome }}</p>
      <p><strong>Horario Previsto:</strong> {{ voo.horario_previsto }}</p>
      <p><strong>Data:</strong> {{ voo.data }}</p>
      <p><strong>Local:</strong> {{ voo.local }}</p>
      {% endif %} 
    </div>
  </form>
</div>
<!-- /.card -->
</div>
<!-- /.content -->
</div>
{% else %}
  {% include 'base/error.html' %}
{% endif %}
{% endblock body %}