{% extends 'base/index.html' %}
{% load static %}

{% block body %}
{% if user.username == "gerente" or user.username == "desenvolvedor" %}
  <div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1 class="m-0"></h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    
      <div class="container-fluid">
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">Relatório de partidas</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Código de voo</th>
                    <th>Horário Real</th>
                    <th>Data</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                {% for partida in partidas %}
                  <tr>
                    <td> {{ partida.id }} </td>
                    <td> {{ partida.voo.code }} </td>
                    <td> {{ partida.real }} </td>
                    <td> {{ partida.data }} </td>
                    <td> {{ partida.status }}</td>
                  </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Código de voo</th>
                    <th>Horário Real</th>
                    <th>Data</th>
                    <th>Status</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
       </div>
    </div>
     
{% else %}
  {% include 'base/error.html' %}
{% endif %} 
{% endblock body %}