{% extends 'base/index.html' %}
{% load static %}
{% block body %}
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1 class="m-0">Voos</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
  <div class="content">
    {% if not object_list  %}
    <p><strong>Não há voos para monitorar.</strong></p>
    {% endif %} 

    {% if object_list  %}
    <div class="card">
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>ID</th>
                <th>Código</th>
                <th>Companhia</th>
                <th>Origem/Destino</th>
                <th>Horário de saída previsto</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody>
              {% for voo in object_list  %}
              <tr>
                <td>{{voo.id}}</td>
                <td>{{voo.code}}</td>
                <td>{{voo.companhia.nome}}</td>
                <td>{{voo.local}}</td>
                <td>{{voo.horario_previsto}}</td>
                <td>{{voo.data}}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
    </div>

        {% endif %} 

        {% if chegadas %}
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Código</th>
                    <th>Companhia</th>
                    <th>Status</th>
                    <th>Local</th>
                    <th>Horário de saída previsto</th>
                    <th>Horário Real</th>
                  </tr>
                </thead>
                <tbody>
                  {% for chegada in chegadas %}
                  <tr>
                    <td>{{chegada.voo.id}}</td>
                    <td>{{chegada.voo.code}}</td>
                    <td>{{chegada.voo.companhia.nome}}</td>
                    <td>{{chegada.status}}</td>
                    <td>{{chegada.voo.local}}</td>
                    <td>{{chegada.voo.horario_previsto}}</td>
                    <td>{{chegada.real}}</td>
                  </tr>
                  {% endfor %}
    
                </tbody>
              </table>
            </div>
    {% endif %} 
    
    <!-- /.card-body -->
  </div>
<!-- /.content -->
</div>
{% endblock body %}