{% load static %}

<a href="{% url 'index' %}" class="brand-link">
  <div class="img-with-text-below">
    <img src="{% static 'dist/img/logo_branco.png' %}" class="rounded mx-auto d-block" width="180" height="130"/>

</div>

</a>

  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info">
        <a style="pointer-events: none" href="#" class="d-block">{{ user.username }}</a>
      </div>
    </div>

    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">        
            <li class="nav-item">
              <a {% if request.resolver_match.view_name == 'crud' %}          class="nav-link active" 
                 {% elif request.resolver_match.view_name == 'criar_voo_chegada' %}   class="nav-link active"
                 {% elif request.resolver_match.view_name == 'criar_voo_partida' %}   class="nav-link active"
                 {% elif request.resolver_match.view_name == 'deletar' %} class="nav-link active"
                 {% elif request.resolver_match.view_name == 'editar' %}  class="nav-link active"
                 {% elif request.resolver_match.view_name == 'ler_voo' %}     class="nav-link active"
                 {% else %} class="nav-link" 
                 {% endif %} href="{% url 'crud' %}">
                &nbsp;<i class="fa-solid fa-cog fa-xl"></i>
                &nbsp;&nbsp;<p>CRUD</p>
              </a>
            </li>
            <li class="nav-item">
              <a {% if request.resolver_match.view_name == 'status' %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{% url 'status' %}">
                <i class="fa-solid fa-rotate fa-xl"></i>
                &nbsp;&nbsp;<p>Atualizar status </p>
              </a>
            </li>
            <li class="nav-item">
              <a {% if request.resolver_match.view_name == 'gera_relatorio' %}             class="nav-link active"
                 {% elif request.resolver_match.view_name == 'relatorio_chegadas' %}       class="nav-link active"
                 {% elif request.resolver_match.view_name == 'relatorio_partidas' %}       class="nav-link active"
                
                 {% else %} class="nav-link" {% endif %} href="{% url 'gera_relatorio' %}">
                &nbsp;<i class="fa-regular fa-file-lines fa-xl"></i>
                &nbsp;&nbsp;&nbsp;<p>Gerar relatórios</p>
              </a>
            </li>
      </ul>
    </nav>
